

.bg-black {
    background-color: black;
    color: white;
}

.bg-white {
    background-color: white;
}

.toggle {
    margin: 7% auto;
    border-radius: 30px;
    width: 110px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
    position: relative;
    transition: all 1s linear;
}

#circle { 
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 1s linear;
}

#text {
    font-size: 5rem;
    margin: 8% auto;
    text-align: center;
    transition: all 1s linear;
}

.time {
    position: absolute;
    right: 5%;
    top: 2%;
}

.dark-mode {
    background-color: black !important;
    transform: translateX(60px);
}

body {
    transition: all 1s linear;
}

#sun , #moon {
    position: absolute;
    right: 0;
    transition: all 500ms linear;
}

.hidden { 
    opacity: 0;
}